:root {
	--hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
	--primary: hsl(var(--hue),90%,50%);
	--trans-dur: 0.3s;
	--trans-timing: cubic-bezier(0.65,0,0.35,1);
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (2560 - 320));
}
a {
	/* color: var(--primary); */
	transition: color var(--trans-dur);
}
body,
button {
	color: var(--fg);
}
/* body {
	background-color: var(--bg);
	height: 100vh;
	transition:
		background-color var(--trans-dur),
		color var(--trans-dur);
} */
/* h1 {
	font-size: 2em;
	margin: 0 0 3rem;
	padding-top: 1.5rem;
	text-align: center;
} */
.btn {
	background-color: var(--fg);
	border-radius: 0.25em;
	color: var(--bg);
	cursor: pointer;
	padding: 0.375em 0.75em;
	transition:
		background-color calc(var(--trans-dur) / 2) linear,
		color var(--trans-dur);
	-webkit-tap-highlight-color: transparent;
}
.btn:hover {
	background-color: hsl(var(--hue),10%,50%);
}
.btn-group {
	display: flex;
	gap: 0.375em;
	margin-bottom: 1.5em;
}
.timeline {
	margin: auto;
	padding: 0 1.5em;
	width: 100%;
	max-width: 94%;
}
.timeline__arrow {
	background-color: transparent;
	border-radius: 0.25em;
	cursor: pointer;
	flex-shrink: 0;
	margin-inline-end: 0.25em;
	outline: transparent;
	width: 2em;
	height: 2em;
	transition:
		background-color calc(var(--trans-dur) / 2) linear,
		color var(--trans-dur);
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}
.timeline__arrow:focus-visible,
.timeline__arrow:hover {
	background-color: hsl(var(--hue),10%,50%,0.4);
}
.timeline__arrow-icon {
	display: block;
	pointer-events: none;
	transform: rotate(-90deg);
	transition: transform var(--trans-dur) var(--trans-timing);
	width: 100%;
	height: auto;
}
.timeline__date {
	font-size: 0.833em;
	line-height: 2.4;
}
.timeline__dot {
	background-color: currentColor;
	border-radius: 50%;
	display: inline-block;
	flex-shrink: 0;
	margin: 0.625em 0;
	margin-inline-end: 1em;
	position: relative;
	width: 0.75em;
	height: 0.75em;
}
.timeline__item {
	position: relative;
	padding-bottom: 2.25em;
}
.timeline__item:not(:last-child):before {
	background-color: currentColor;
	content: "";
	display: block;
	position: absolute;
	top: 1em;
	left: 2.625em;
	width: 0.125em;
	height: 100%;
	transform: translateX(-50%);
}
[dir="rtl"] .timeline__arrow-icon {
	transform: rotate(90deg);
}
[dir="rtl"] .timeline__item:not(:last-child):before {
	right: 2.625em;
	left: auto;
	transform: translateX(50%);
}
.timeline__item-header {
	display: flex;
}
.timeline__item-body {
	border-radius: 0.375em;
	overflow: hidden;
	margin-top: 0.5em;
	margin-inline-start: 4em;
	height: 0;
}
.timeline__item-body-content {
	background-color: hsl(var(--hue),10%,50%,0.2);
	opacity: 0;
	padding: 0.5em 0.75em;
	visibility: hidden;
	transition:
		opacity var(--trans-dur) var(--trans-timing),
		visibility var(--trans-dur) steps(1,end);
}
.timeline__meta {
	width: 100%;
}
.timeline__title {
	font-size: 1.5em;
	line-height: 1.333;
}
/* Expanded state */
.timeline__item-body--expanded {
	height: auto;
}

.timeline__item-body--expanded .timeline__item-body-content {
	opacity: 1;
	visibility: visible;
	transition-delay: var(--trans-dur), 0s;
}
.timeline__arrow[aria-expanded="true"] .timeline__arrow-icon {
	transform: rotate(0);
}

.timeline__item-body--expanded .timeline__title{
    color: #00BF63;
}

.process-img{
    height: 12vw;
    margin: 1.4rem 0;
}

#process-span{
    color: #00BF63;
}

@media(max-width:700px){
    .timeline {
        margin: auto;
        padding: 0 1em;
        width: 100%;
        max-width: 100%;
    }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
		--primary: hsl(var(--hue),90%,70%);
	}
}











.wp-block-audio figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-audio figcaption {
    color: hsla(0,0%,100%,.65)
}

.wp-block-audio {
    margin: 0 0 1em
}

.wp-block-code {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Menlo,Consolas,monaco,monospace;
    padding: .8em 1em
}

.wp-block-embed figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-embed figcaption {
    color: hsla(0,0%,100%,.65)
}

.wp-block-embed {
    margin: 0 0 1em
}

.blocks-gallery-caption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .blocks-gallery-caption {
    color: hsla(0,0%,100%,.65)
}

.wp-block-image figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-image figcaption {
    color: hsla(0,0%,100%,.65)
}

.wp-block-image {
    margin: 0 0 1em
}

.wp-block-pullquote {
    border-top: 4px solid;
    border-bottom: 4px solid;
    margin-bottom: 1.75em;
    color: currentColor
}

.wp-block-quote {
    border-left: .25em solid;
    margin: 0 0 1.75em;
    padding-left: 1em
}

.wp-block-quote.has-text-align-right {
    border-left: none;
    border-right: .25em solid;
    padding-left: 0;
    padding-right: 1em
}

.wp-block-quote.has-text-align-center {
    border: none;
    padding-left: 0
}

.wp-block-quote.is-large,.wp-block-quote.is-style-large,.wp-block-quote.is-style-plain {
    border: none
}

.wp-block-search .wp-block-search__label {
    font-weight: 700
}

.wp-block-search__button {
    border: 1px solid #ccc;
    padding: .375em .625em
}

:where(.wp-block-group.has-background) {
    padding: 1.25em 2.375em
}

.wp-block-separator.has-css-opacity {
    opacity: .4
}

.wp-block-separator {
    border: none;
    border-bottom: 2px solid;
    margin-left: auto;
    margin-right: auto
}

.wp-block-separator.has-alpha-channel-opacity {
    opacity: 1
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    width: 100px
}

.wp-block-separator.has-background:not(.is-style-dots) {
    border-bottom: none;
    height: 1px
}

.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
    height: 2px
}

.wp-block-table {
    margin: "0 0 1em 0"
}

.wp-block-table thead {
    border-bottom: 3px solid
}

.wp-block-table tfoot {
    border-top: 3px solid
}

.wp-block-table td,.wp-block-table th {
    word-break: normal
}

.wp-block-table figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-table figcaption {
    color: hsla(0,0%,100%,.65)
}

.wp-block-video figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-video figcaption {
    color: hsla(0,0%,100%,.65)
}

.wp-block-video {
    margin: 0 0 1em
}

.wp-block-template-part.has-background {
    padding: 1.25em 2.375em;
    margin-top: 0;
    margin-bottom: 0
}
body {
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--color--omens-theme-primary: #BC8157;
    --wp--preset--color--omens-theme-secondary: #212121;
    --wp--preset--color--strong-magenta: #a156b4;
    --wp--preset--color--light-grayish-magenta: #d0a5db;
    --wp--preset--color--very-light-gray: #eee;
    --wp--preset--color--very-dark-gray: #444;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);
    --wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');
    --wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');
    --wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');
    --wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');
    --wp--preset--duotone--midnight: url('#wp-duotone-midnight');
    --wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');
    --wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');
    --wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
}

:where(.is-layout-flex) {
    gap: 0.5em;
}

body .is-layout-flow > .alignleft {
    float: left;
    margin-inline-start: 0;margin-inline-end: 2em;}

body .is-layout-flow > .alignright {
    float: right;
    margin-inline-start: 2em;margin-inline-end: 0;}

body .is-layout-flow > .aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
}

body .is-layout-constrained > .alignleft {
    float: left;
    margin-inline-start: 0;margin-inline-end: 2em;}

body .is-layout-constrained > .alignright {
    float: right;
    margin-inline-start: 2em;margin-inline-end: 0;}

body .is-layout-constrained > .aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
}

body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto !important;
    margin-right: auto !important;
}

body .is-layout-constrained > .alignwide {
    max-width: var(--wp--style--global--wide-size);
}

body .is-layout-flex {
    display: flex;
}

body .is-layout-flex {
    flex-wrap: wrap;
    align-items: center;
}

body .is-layout-flex > * {
    margin: 0;
}



.main-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 2rem 2rem;
    padding-top: 2.8rem;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 6px;
    padding-bottom: 2rem;
}

.main-heading h1{
    color: #00BF63;
    font-size: 4vw;
}
.main-heading p{
  color:aliceblue;
  font-size: .9vw;
}
@media(max-width:700px){
    .main-heading{
        margin: .8rem .8rem;
    }
    .main-heading p{
        font-size: 2.6vw;
    }
}
nav a:hover {
    background-color: #fff;
}
.lakit-vtimeline-item a{
    color: #00d084!important;
}
.lakit-vtimeline-item .lakit-vtimeline-item__card {
    border-radius: 6px;
    background-color: #181717!important;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px!important;
}
.elementor-7363 .elementor-element.elementor-element-f36f1fd .elementor-repeater-item-1584d69 .lakit-vtimeline-item__card-title , .elementor-7363 .elementor-element.elementor-element-f36f1fd .elementor-repeater-item-c669bf4 .lakit-vtimeline-item__card-title {
    color: #fff;
}
.elementor-7363 .elementor-element.elementor-element-f36f1fd .lakit-vtimeline-item__point-content {
    height: 40px;
    width: 40px;
    background-color: #00BF63;
}
.elementor-kit-7 h6 {
   color: #00BF63;
   font-weight: 200!important;
   font-size: 12px!important;
}
*,footer h6{
    font-family: Neuehaasdisplay mediu, sans-serif!important;
}
.list-unstyled li a{
    font-size: 16px!important;
}
.elementor-7363 .elementor-element.elementor-element-f36f1fd .lakit-vtimeline__line-progress {
    background-color: #00BF63;
}
form input[type=email]{
    padding: 0;
}

